<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.premed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Premed">
        <activity android:name=".typhoid"></activity>
        <activity android:name=".diarrhea" />
        <activity android:name=".dehydration" />
        <activity android:name=".cough" />
        <activity android:name=".corona" />
        <activity android:name=".cold" />
        <activity android:name=".chest" />
        <activity android:name=".brain" />
        <activity android:name=".bp" />
        <activity android:name=".anxiety" />
        <activity android:name=".allergy" />
        <activity android:name=".asthma" />
        <activity android:name=".acne" />
        <activity android:name=".medicine" />
        <activity android:name=".signup" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>